---
const year = new Date().getFullYear();
---

<footer>
  <p>
    Site text and image content © {year} Doug Neiner. All rights reserved.
    <br />
    Site <a href="https://github.com/dcneiner/dougneiner.com">source code</a> and
    all code examples are <a href="https://dougneiner.mit-license.org"
      >MIT licensed</a
    >.
  </p>
</footer>
