---
const currentUrl = Astro.url.pathname.split("/")[1];
const what = Astro.url.pathname;
---

<header>
  <h1><a href="/">Doug Neiner</a></h1>

  <strong>what: {what}</strong>
  <strong>Current URL: {currentUrl}</strong>
  <nav aria-label="Main">
    <ul>
      <li>
        {
          currentUrl === "about" ? (
            "Current: About"
          ) : (
            <a
              aria-current={currentUrl === "about" ? "page" : undefined}
              href="/about"
            >
              About
            </a>
          )
        }
      </li>
      <li>
        {
          currentUrl === "speaking" ? (
            "Current: Speaking"
          ) : (
            <a
              aria-current={currentUrl === "speaking" ? "page" : undefined}
              href="/speaking"
            >
              Speaking
            </a>
          )
        }
      </li>
    </ul>
  </nav>
</header>
