---
const currentUrl = Astro.url.pathname;
const navLinks = [
  { label: "About", url: "/about" },
  { label: "Speaking", url: "/speaking" },
];
---

<header>
  <a class="sr-only" href="#main">Skip to main content</a>

  <h1><a href="/">Doug Neiner</a></h1>

  <nav aria-label="Main">
    <ul>
      {
        navLinks.map((link) => (
          <li>
            {link.url === currentUrl ? (
              <>
                <span class="sr-only">Current: </span>
                {link.label}
              </>
            ) : (
              <a href={link.url}>{link.label}</a>
            )}
          </li>
        ))
      }
    </ul>
  </nav>
</header>
