---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  frontmatter?: {
    title: string;
    description: string;
  };
}

const title = Astro.props.title ?? Astro.props.frontmatter?.title;
const description =
  Astro.props.description ?? Astro.props.frontmatter?.description;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {description && <meta name="description" content={description} />}
    <title>{[title, "Doug Neiner"].filter(Boolean).join(" | ")}</title>
  </head>
  <body>
    <Header />
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style type="text/css" is:global>
  /* From https://css-tricks.com/inclusively-hidden/ */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  html {
    font-size: 16px;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    width: min(40rem, 95vw);
    margin: 0 auto;
  }
</style>
